* {
    font-family: Montserrat,sans-serif;
    box-sizing: border-box;
}

nav {
    z-index: 5;
    
}
button {
    background-color: transparent;
    border: none;
}
.navimg {
    width: 25px;
    height: 25px; 
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
#kalender, #dagboek, #vraagteken, #berichten {
    /* margin-left: 70px; */
    margin-top: 20px;
}
a {
    text-decoration: none;
    color:black;
}

.blauw{
    flex-direction: column;
}

section {
    width:816px;
    height:368px;
    background-color: #F4EB34;
    border-radius: 47px;
    margin: auto;
    left:0;
    right:0;
    text-align: center;
    position:relative;
}
h2 {
    text-align:center;
    top:40%;
    position: relative;
    font-size:25px;
}
h1 {
    float: right;
    position: relative;
    top: 5%;
    right: 5%;
    font-size:25px;
}

/* blauwe blokken */
.woorden {
    z-index: 5;
    font-size: 2em;
    position:relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: auto;
    left:0%;
    right:0%; */
    
   
}
.woorden > div {
    background-color: #72AFA6;
    padding: 20px;
    border-radius: 47px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}
div > a > img {
    width: 176px;
    height:142px;
    display:flex;
    align-self: flex-end;
   
}
/* 

#kalender {
right: 120px;
}
#dagboek {
 left: 450px;
}
#vraagteken {
 right: 500px;
}
#berichten {
 left: 80px;
}
.blauw {
    width: 292px;
    height: 182px;
    background-color: #72AFA6;
    display: inline-block;
    border-radius: 47px;
    margin-left:70px;
    padding-left:50px;
    position: relative;
    top:110px;
}

} */
