* {
    font-family: Montserrat,sans-serif;
    box-sizing: border-box;
}
nav {
    z-index: 5;  
}
#vini-mini-logo {
    position:fixed;
    top:5%;
    left:5%;
    z-index:5;
}
.pijltje {
    width: 20px;
}
#winkelwagen {
    width: 25px;
    height: 25px; 
    position:fixed;
    top:5%;
    right:13%;
}
#account {
    width: 25px;
    height: 25px; 
    position:fixed;
    top:5%;
    right:8%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
nav > ul > li:nth-child(8) {
    display:none;
  }

#kalender, #dagboek, #vraagteken, #berichten {
    /* margin-left: 70px; */
    margin-top: 50px;
}
a {
    text-decoration: none;
    color:black;
}

.blauw{
    flex-direction: column;
}

section {
    width:85%;
    height:200px;
    background-color: #F4EB34;
    border-radius: 47px;
    margin: auto;
    left:0;
    right:0;
    text-align: center;
    position:relative;
    
}
h2 {
    text-align:center;
    top:20%;
    position: relative;
    font-size:1.7em;
}
span {
    position: absolute;
    top: 5%; 
    right: 5%;
    font-size:25px;
}
section > p {
    text-align:center;
    position: relative;
    top:20%;
    font-size: 1.5em;
}

header {
    position: relative;
    left: 20%;
}
div > a > p {
    font-size: 0.4em;
}

/* blauwe blokken */
.woorden {
    z-index: 5;
    font-size: 2em;
    position:relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: auto;
    left:0%;
    right:0%; */
    
   
}
.woorden > div {
    background-color: #72AFA6;
    padding: 20px;
    border-radius: 47px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}
div > a > img {
    width: 176px;
    height:142px;
    display:flex;
    align-self: flex-end;
}

@media screen and (max-width: 1133px){
 
   
    #witte-achtergrond {
        background-color: white;
        position: fixed;
        width: 100%;
        height:140px;
        margin-top:-20px;
        margin-left:-10px;
    } 
    nav > ul > li:nth-child(2) {
        display:none;
      }
    nav > ul > li:nth-child(3) {
        display:none;
      }
      nav > ul > li:nth-child(4) {
        display:none;
      }
      nav > ul > li:nth-child(5) {
        display:none;
      }
      nav > ul > li:nth-child(6) {
        display:none;
      }
      nav > ul > li:nth-child(7) {
        display:none;
      }
      nav > ul > li:nth-child(8) {
        display:flex;
        font-size: 1.5em;
        position: fixed;
        z-index:5;
        top:5%;
        
        
      }
      .woorden {
        flex-flow:wrap;
        position:relative;
        top:125px;
        z-index:-1;

      }
      #kalender, #dagboek, #vraagteken, #berichten {
        font-size: 80%;
        display: flex;
        flex-direction: column;
        /* box-sizing:border-box; */
      }
      #berichten, #vraagteken {
        margin-top:12px;
        margin-bottom: 20px;
      }
      #kalender, #dagboek {
        margin-top: 10px;
      }
      div > a > img {
        width: 100px;
        height:70px;
        /* display:flex;
        align-self: flex-end; */
    }

    #winkelwagen {
        width: 25px;
        height: 25px; 
        position:fixed;
        top:5%;
        right:17%;
        z-index:5;
    }
    #account {
        width: 25px;
        height: 25px; 
        position:fixed;
        top:5%;
        right:8%;
        z-index:5;
    }
    header {
        position: relative;
        left: 5%;
        top: 120px;
        z-index:-1;
    }
    section {
        width:95%;
        height:300px;
        background-color: #F4EB34;
        border-radius: 47px;
        margin: auto;
        left:0;
        right:0;
        text-align: center;
        position:relative;
        top: 125px;
        z-index:-1;
    }
}
/* 

#kalender {
right: 120px;
}
#dagboek {
 left: 450px;
}
#vraagteken {
 right: 500px;
}
#berichten {
 left: 80px;
}
.blauw {
    width: 292px;
    height: 182px;
    background-color: #72AFA6;
    display: inline-block;
    border-radius: 47px;
    margin-left:70px;
    padding-left:50px;
    position: relative;
    top:110px;
}

} */
